bam
.bam
.idea
config.lua
datasrc/__pycache__
datasrc/*.pyc
objs
src/game/generated
SDL.dll
freetype.dll
autoexec.cfg
crapnet*
dilate*
fake_server*
map_resave*
map_version*
mastersrv*
packetgen*
teeworlds*
teeworlds_srv*
tileset_border*
versionsrv*
/tee
*.db
*.bat
*.rar
/Debug/*.log
/*.opensdf
/*.sdf
/*.suo
